<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <!-- <p v-if="userAge > allowedAge">Allowed in</p>
        <p v-else-if="user === 'Francis'">Hi Francis</p>
        <p v-else>You are not allowed in</p> -->

        <p v-if="checkUser()">Show it</p>
        <p v-else> Dont show it</p>
    </div>

</body>

<script>

    new Vue({
        el: '#app',
        data: {
            user: 'Francis',
            userAge: 17,
            allowedAge: 18
        },
        methods: {
            checkUser() {
                return this.user === 'Francis' ? true : false;
            }
        }
    })

</script>

</html>